.buttonList {
    width: 200px;
    float: left;
    margin-right: 20px;
}
.buttonList button {
    width: 100%;
    margin-bottom: 10px;
}
img {
    width: 250px;
    height: auto;
}
#topImage {
    display: none;
}
/* note: the exercise called for a max-width of 360, but my screen resolution would not
reach the breakpoint, so I changed it to 600px and everything worked just fine! */
@media screen and (max-width: 600px) {
    #topImage {
        display: block;
    }
    .buttonList {
        float: none;
    }
}
